extends layout

block content
    if !session.user
        a(href='/login') login
    if session.user
        h1 logged in as #{session.user.username}
        a(href='/logout') logout
    h1 Volcanic cache test

    h2 if there is a session, the colors should be changed on every refresh
    h2 if there is no session, the colors should be changed on every cache invalidate request
    for color in colors
        div(style=`height:200px; width:200px; background-color:${color}`)